#root {
  width: calc(99vw - 2px);
  overflow: hidden;
}

.main {
  color: $text-color;
  min-height: 100vh;
  width: 100vw !important;
  overflow-x: hidden;
}

.wishlist,
.mycart {
  .banner__title {
    font-size: 1.6rem;
    text-align: center;
  }
  .wishlist__trash {
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  .last__row {
    .btn {
      font-size: 12px;
    }
    .wishlist__delete__selected {
      &:hover {
        background-color: var(--bs-danger);
      }
    }
  }
}

.sort {
  width: 100%;
  select {
    float: right;
    outline: none;
    padding: 5px 10px;
    margin-right: 10px;
  }
}

.product__add__cart {
  @include flex(center, flex-start);
}
.count__number {
  border: 1px solid #333;
  max-width: 160px;
  overflow: hidden;
  @include flex(center, center);
  padding: 0;
  text-align: center;

  &__up,
  &__down {
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0;
    padding: 4px 8px;
    &:hover {
      color: $primary-color;
    }
  }
  input {
    text-align: center;
    width: 80%;
    height: 100%;
    padding: 0 5px;
  }

  .btn {
    width: 50px;
    border-radius: 2rem;
  }
}
