.card__item {
  position: relative;
  margin: 1rem 0;
  background: $third-color;
  width: 300px;
  height: 300px;
  cursor: pointer;
  @include flex(center, center);
  flex-direction: column;
  &:hover {
    .card__icon__like {
      color: $black-color;
    }
    img {
      transform: scale(1.2);
    }
  }
  .card__icon__like {
    // color: $black-color;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 60;
    text-align: right;
    padding: 5px 5px 0 0;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    &:hover {
      color: $primary-color !important;
    }
  }
  &__header {
    position: relative;
    min-height: 60%;
    flex: 1;
    width: 100%;
    @include flex(center, center);
    img {
      transform-style: preserve-3d;
      position: absolute;
      width: 150px;
      height: 150px;
      transform: scale(1);
      transition: transform 0.3s ease;
    }
  }
  &__body {
    @include flex(center, center);
    flex-direction: column;
    padding-bottom: 1rem;
  }
  &__title {
    font-weight: 300;
  }
  &__price {
    font-style: italic;
    font-weight: 300;
    color: $primary-color;
  }
}

.card__item__style__01 {
  background: $white-color;
  border-radius: 2rem;
  @include box_shadow(0.15);
  @include flex(center, center);
  .card__item__percent {
    position: relative;
    width: 100px;
    height: 100px;
    .card__item__percent__value {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
