.footer {
  position: relative;
  bottom: 0;
  background: $white-color;
  padding-top: 2rem;
  color: $text-color;
  border-top: 2px solid $third-color;
  p {
    font-size: 1rem;
    color: $text-color;
  }
  a {
    margin: 8px 4px;
  }
  &__logo {
    max-width: 240px;
  }
  &__item {
    &:last-child {
      margin-bottom: 2rem;
      @include flex(center, flex-start);
      // font-size: 0.8rem;
    }
  }
  &__title {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &__address {
    font-size: 0.7rem;
    color: $text-color;
    margin: 1rem 0;
  }
  &__copy {
    @include flex(center, space-around);
    background: $primary-color;
    text-align: center;
    color: $white-color;
    font-size: 16px;
    a {
      margin-left: 1rem;
      &:hover {
        color: $third-color;
      }
    }
  }
}
