.header {
  background: $primary-color;
  color: $white-color;
  width: 100%;
  font-size: 1.2rem;
  padding: 0 1.2rem;
  @include flex(center, space-between);
  ul {
    height: 100%;
    @include flex(center, center);
    li {
      height: 100%;
      @include flex(center, center);

      p {
        color: $white-color;
      }
    }
  }
  .login,
  .register {
    cursor: pointer;
    &:hover {
      i,
      p {
        color: $second-color;
      }
    }
  }
}
