.nav {
  position: fixed;
  left: 0;
  // right: 0;
  width: 100vw !important;
  top: 2.9rem;
  min-height: 6rem;
  z-index: 66;
  transition-duration: 0.2s;
  @include flex(center, space-around);
  background: $white-color;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  border-bottom: 2px solid $third-color;
  .menu__mobile {
    position: relative;
    flex: 1;
    text-align: center;
    i {
      font-size: 2rem;
    }
  }
  .nav__mobile__list {
    @include box_shadow(0.3);
    position: fixed;
    top: 8rem;
    left: 0;
    right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: $white-color;
    min-width: 300px;
  }
  &__logo {
    width: 300px;
    margin-left: 2rem;
    @include tablet {
      width: 200px;
      flex: 1;
    }
  }
  &__right {
    margin-right: 2rem;
    @include flex(center, center);
    i {
      cursor: pointer;
      font-size: 1.4rem;
      margin: 0 5px;
      transform: scale(1);
      transition: all 0.3s ease;
      &:hover {
        color: $primary-color;
        transform: scale(1.1);
      }
    }
    @include tablet {
      flex: 1;
    }
    &__item {
      position: relative;
      .nav__count__product {
        position: absolute;
        top: -15px;
        right: -15px;
        background-color: $primary-color;
        text-align: center;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        color: $white-color;
        font-size: 0.8rem;
        @include box_shadow(0.2);
      }
    }
  }
  &__list {
    @include flex(center, center);
    @include tablet {
      display: none;
    }
  }

  &__item {
    position: relative;
    height: 100%;
    padding: 1rem 1.2rem;
    @include tablet {
      padding: 0rem 1.2rem;
      .accordion__title {
        border-bottom: 1px solid #ccc;
      }
    }

    .nav__link__admin {
      @include tablet {
        width: 100%;
        text-align: left;
        // padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
        padding-left: 0.5rem;
      }
    }
    .nav__item__Navlink {
      color: $black-color;
    }
    .nav__item__Navlink.selected {
      color: $primary-color;
    }
    &:hover {
      cursor: pointer;
      &::after {
        transform: scaleX(0);
        transform-origin: center right;
        background: linear-gradient(to right, $white-color, $primary-color);
      }

      &::before {
        transform: scaleX(1);
        transition-delay: 0.2s;
        transform-origin: center left;
        background: linear-gradient(to right, $white-color, $primary-color);
      }
      .sub__nav {
        transform: scaleY(1) translateX(-50%);
      }
    }
    &:after,
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 1.2rem);
      height: 2.4px;
      transition: transform 0.3s ease;
    }
    &:after {
      transform-origin: left center;
      transform: scaleX(1);
    }
    &:before {
      transform: scaleX(0);
      transform-origin: center right;
    }
    .sub__nav {
      @include flex(flex-start, center);
      position: absolute;
      top: 100%;
      z-index: 50;
      left: 50%;
      min-width: 300px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 1rem;
      background: #fff;
      transition: all 0.3s ease;
      transform: scaleY(0) translateX(-50%);
      transform-origin: center top;
      @include box_shadow(0.15);
      &__title {
        font-size: 1.1rem;
        text-align: center;
        text-overflow: nowrap;
      }
      &__item {
        font-size: 1rem;
        padding: 0 1rem;
        min-width: 150px;

        color: $text-color;
        @include flex(flex-start, center);
        flex-direction: column;
        a {
          margin: 5px 0;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
