.product {
  margin-top: 10rem;

  &__desc {
    display: -webkit-box;
    -webkit-box-oriant: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .form__review__content {
    color: $text-color;
    font-weight: 400;
  }
  &__list {
    @include flex(center, space-around);
  }
  &__img {
    @include flex(center, center);

    .product__slide__img {
      @include flex(center, center);
      margin: 1rem 2rem;
      flex-direction: column;
      max-height: 300px;
      overflow-y: auto;
      img {
        cursor: pointer;
        width: 50px;
        margin: 0.5rem;
        height: 50px;
        border: 2px solid $third-color;
      }
    }
    .product__item__img {
      background: $third-color;
      width: 300px;
      height: 300px;
      img {
        cursor: pointer;
      }
    }
  }
  &__price {
    font-size: 1.4rem;
    color: $primary-color;
    margin-left: 0;
  }
  &__add__wishlist {
    i {
      color: $primary-color;
    }
  }
  &__other__title {
    font-size: 20px;
    font-weight: 500;
  }
  &__other_desc {
    i {
      color: $primary-color;
    }
    p {
      font-style: italic;
      font-size: 14px;
      color: $text-color;
      @include tablet {
        font-size: 12px;
      }
    }
  }
  .accordion__list {
    .accordion {
      max-width: 50%;
      margin: auto;
      &__title {
        border: 1px solid #ccc;
      }
    }
  }
}
