.table {
  background: $white-color;
  @include box_shadow(0.2);
  height: 100%;
  &__title {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
  }
  &__subtitle {
    font-size: 12px;
    color: $text-color;
  }
  .btn__add {
    background: $primary-color;
    @include box_shadow(0.15);
    &:hover {
      background: $second-color;
    }
  }
  input {
    @include box_shadow(0.15);
  }
  img {
    width: 50px;
    height: 50px;
  }
}
