.wishlist {
  .banner__body {
    left: 50%;
  }
  .banner__title {
    font-size: 1.6rem;
    text-align: center;
  }
  &__trash {
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  .last__row {
    .btn {
      font-size: 12px;
    }
    .wishlist__delete__selected {
      &:hover {
        background-color: var(--bs-danger);
      }
    }
  }
}
