@mixin flex($aligin-item, $justify-content) {
  display: flex;
  align-items: $aligin-item;
  justify-content: $justify-content;
}

@mixin box_shadow($alpha) {
  box-shadow: 0 1px 4px rgba(0, 0, 0, $alpha);
}
