$primary-color: #45cfbe;
$second-color: #40c0b1;
$third-color: #f1f1f1;
$four-color: #f0f0fa;
$black-color: #000;
$white-color: #fff;
$text-color: #646464;
$text-gradient: linear-gradient(
  109.6deg,
  rgba(61, 245, 167, 1) 11.2%,
  rgba(9, 111, 224, 1) 91.1%
);

$clr-bg: #c850c0;
$clr-neon: #c850c0;

$theme-color-order-1: #098035;
$theme-color-order-2: #2bff88;
$theme-color-order-3: #2bd2ff;
$theme-color-order-4: #fa8bff;

$mobile-width: 576px;
$tablet-width: 768px;
$smpc-width: 1024px;

// bg gradient color code:
// background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%)
