$primary-color: red;
$second-color: #161616;
$third-color: #ddd6f3;
$danger-color: red;
$black-color: #000;
$white-color: #fff;
$text-gradient: linear-gradient(
  109.6deg,
  rgba(61, 245, 167, 1) 11.2%,
  rgba(9, 111, 224, 1) 91.1%
);

$clr-bg: #c850c0;
$clr-neon: #c850c0;
