$primary-color: #45CFBE;
$second-color: #40C0B1;
$third-color: #F1F1F1;
$four-color: #6D8498;
$black-color: #000;
$white-color: #fff;
$text-color: #646464;
$text-gradient: linear-gradient(
  109.6deg,
  rgba(61, 245, 167, 1) 11.2%,
  rgba(9, 111, 224, 1) 91.1%
);

$clr-bg: #c850c0;
$clr-neon: #c850c0;
